
HW1/.RData
HW1/.Rhistory
HW1/Homework1.log
HW1/Homework1.tex
HW1/Homework1_cache/html/__packages
HW1/Homework1_cache/html/cor_25368928c4a60db95109fe2f3cebbc4a.RData
HW1/Homework1_cache/html/cor_25368928c4a60db95109fe2f3cebbc4a.rdb
HW1/Homework1_cache/html/cor_25368928c4a60db95109fe2f3cebbc4a.rdx
HW1/Homework1_cache/html/gen-data-spurious_9b2afc82e87e8022b254a0738f26d918.RData
HW1/Homework1_cache/html/gen-data-spurious_9b2afc82e87e8022b254a0738f26d918.rdb
HW1/Homework1_cache/html/gen-data-spurious_9b2afc82e87e8022b254a0738f26d918.rdx
HW1/Homework1_cache/latex/__packages
HW1/Homework1_cache/latex/cor_d35f2d2a9f7276f71fb12c3c70afaa98.RData
HW1/Homework1_cache/latex/cor_d35f2d2a9f7276f71fb12c3c70afaa98.rdb
HW1/Homework1_cache/latex/cor_d35f2d2a9f7276f71fb12c3c70afaa98.rdx
HW1/Homework1_cache/latex/gen-data-spurious_6742bd943242cd99bc2dec3f7f2e085e.RData
HW1/Homework1_cache/latex/gen-data-spurious_6742bd943242cd99bc2dec3f7f2e085e.rdb
HW1/Homework1_cache/latex/gen-data-spurious_6742bd943242cd99bc2dec3f7f2e085e.rdx
HW1/Homework1_files/figure-html/problem5-1.png
HW1/Homework1_files/figure-html/problem6b-1.png
HW1/Homework1_files/figure-html/problem6d-1.png
HW1/Homework1old.html
HW1/public_MC3.maf
HW1/.Rhistory
HW1/.Rhistory
